<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="Description" content="Обмінюйте валюту вигідно">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Обмінюйте валюту вигідно</title>
 
  <link rel="preload" href="fonts/PoppinsBold.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/PoppinsSemiBold.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/ProximaNovaBold.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/ProximaNovaExtrabold.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/ProximaNovaMedium.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/ProximaNovaRegular.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/ProximaNovaSemibold.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Rubik.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/SpaceGroteskBold.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/SpaceGroteskMedium.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/SpaceGroteskRegular.woff" as="font" crossorigin="anonymous">

  <link rel="stylesheet" href="css/style.css">
</head>
9806
