.cta-section {
  margin-bottom: clamp(45px, 4.8611vw, 70px);

  &__box{
    padding-bottom: clamp(50px, 9.8611vw, 142px);
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    grid-gap: 24px;
  }

  &__image{
    position: absolute;
    z-index: -1;
    display: flex;
    bottom: 0;

    svg,img{
      width: clamp(171px, 27.9861vw, 403px);
      height: clamp(95px, 15.4861vw, 223px);

    }

    @include for-small-tablet{
      right: 170px;
    }

    @include small-tablet{
      @include for-mobile{
        right: clamp(5px ,7.813vw, 60px);
      }
    }

    @include mobile{
      right: 0;
    }
  }

 
  .main-top{
      .editor{
        @include for-small-tablet{
          display: contents;

          *{
            grid-column: 1;
          }
        }
      }

      &__labels{
        @include for-small-tablet{
          grid-column: 2;
          grid-row: 1;
          align-self: end;
          margin-bottom: clamp(16px, 1.25vw, 18px);
        }
      }

      @include for-desktop{
        grid-template-columns: 1fr 0.62fr;
      }

      @include desktop{
        @include for-tablet{
          grid-template-columns: 1fr 0.7fr;
        }
      }
      

      @include tablet{
        @include for-small-tablet{
          grid-template-columns: 1fr .8fr;
        }
      }

      @include for-small-tablet{
        grid-gap: 1px 20px;
      }
    }

    & + .review-section{
      margin-top: calc(clamp(45px, 4.8611vw, 70px) * -1);
    }
}
