.review-section {
  margin-bottom: clamp(45px, 4.8611vw, 70px);
  padding: clamp(50px, 7.2917vw, 105px) 0 clamp(40px, 3.8194vw, 55px);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: var(--bg-d);
  overflow: hidden;
 

  .main-top {
    &__label {
      &:not(.white) {
        color: var(--cl-e);
        border-color: var(--br-c);
      }
    }

    grid-gap: 1px 20px;

    .editor {
      display: contents;

      * {
        grid-column: 1;
      }
    }

    &__labels {
      grid-column: 2;
      grid-row: 2/4;
    }

    .editor {
      * {
        color: var(--cl-e);
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        line-height: 96%;
        letter-spacing: -0.02em;

        i {
          color: var(--cl-c);
        }
      }

      p {
        font-weight: 500;
        line-height: 145%;

        i {
          color: var(--cl-c);
        }
      }

      strong {
        font-weight: 900;
        color: var(--cl-f);
      }
    }
  }

  &__box{
    display: flex;
    flex-direction: column;
    grid-gap: 60px;
  }

  .review-slider{
    margin-top: clamp(45px, 4.8611vw, 70px);
  }
}
